---js
const eleventyNavigation = {
	key: "Works",
	order: 2
};

const eleventyComputed = {
	title: "Works"
}
---

{% css %}
  .albums-grid {
  	display: grid;
  	grid-template-columns: 1fr 1fr 1fr;
  	column-gap: 10px;
  	row-gap: 10px;
  }

  .albums-grid__img {
		object-fit: cover;
  	max-height: 200px;
  	width: 250px;
  }

  .albums-grid__name {
  	display: block;
  	padding-top: 10px;
  	text-align: center;
  	width: 100%;
  } 
{% endcss %}

<h1>Works</h1>

<div class="albums-grid">
	{%- for album in albums %}
		<a href="/album/{{ album.name | slugify }}">
			<img class="albums-grid__img" src="{{ environment.mediaURL }}/{{ album.photos[0].file }}" />
			<span class="albums-grid__name">
				{{ album.name }}
			</span>
		</a>
	{%- endfor %}
</div>