---
pagination:
  data: albums
  size: 1
  alias: album
permalink: "album/{{ album.name | slugify }}/"
---
 
{% css %}
  img {
    margin-bottom: 20px;
  }
{% endcss %}

<h1>
  {{ album.name }}
</h1>

{%- for photo in album.photos %}
  <a href="/photo/{{ photo.name | slugify }}">
    <img src="{{ environment.mediaURL }}/{{ photo.file }}" alt="{{ photo.description }}" />
  </a>
{%- endfor %}