{% css %}
  .album {
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 15px;
  }

  .album img {
    padding-right: 15px;
    width: 250px;
  }
{% endcss %}

<div class="albums"> 
  {%- for album in albums %}
    <div class="album" >
      {%- for photo in album.photos %}
        <img src="{{ photo.file }}" alt="{{ photo.description }}" />
      {%- endfor %}
    </div>
  {%- endfor %}
</div>
