{% css %}
  .album {
    overflow: scroll;
    white-space: nowrap;
    padding-bottom: 15px;
  }

  .album img {
    padding-right: 15px;
    width: 250px;
  }
{% endcss %}

<div class="albums"> 
  <div class="album">
    {%- for photo in featured %}
      <a href="/album/{{ photo.album | slugify }}">
        <img src="{{ environment.mediaURL }}/{{ photo.file }}" alt="{{ photo.description }}" />
      </a>
    {%- endfor %}
  </div>
</div>
